@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0ebeb;
  font-family: "Nunito Sans", sans-serif;
}

.wrapper {
  padding: 40px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 30px;
  background-color: white;
  padding: 20px 25px;
  color: grey;
  position: relative;
  box-shadow: 0px 0px 5px 0px grey;
}

.regions {
  position: absolute;
  background: white;
  width: 100%;
  list-style: none;
  top: 60px;
  left: 0;
  padding: 20px 25px;
  flex-direction: column;
  gap: 10px;
  display: none;
}

.close-region {
  display: flex;
}

.searchbox {
  width: 320px;
  background-color: white;
  position: relative;
  display: flex;
  box-shadow: 0px 0px 5px 0px grey;
}

.searchbox .searchbtn {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  margin-right: 15px;
  cursor: pointer;
}

.searchbox .input_search {
  outline: none;
  border: 0;
  background: white;
  color: grey;
  width: 200px;
  height: 50px;
}

::placeholder {
  color: grey;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 36px;
  column-gap: 30px;
  background-color: #f0ebeb;
  padding: 15px 70px;
}

img {
  max-height: 200px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 100%;
}

.card {
  /* emmet */
  background-color: white;
  border-radius: 10px;
}
/* .card:nth-of-type(7) {
  grid-column: 1/2;
  grid-row: 1/2;
}
.card:nth-of-type(3) {
  grid-column: 2/3;
  grid-row: 2/3;
}
.card:nth-of-type(6) {
  grid-column: span 2;
  grid-row: span 2;
} */

.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px 20px;
  align-items: center;
  box-shadow: -1px 0px 2px #eee;
}

.moon {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.card-content {
  padding: 20px 30px;
}

.pop {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  margin-top: 10px;
}

@media (min-width: 375px) and (max-width: 800px) {
  .header {
    width: 100%;
  }

  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
